pretrained_models/cityscapes_model.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/mapillary_model.pt filter=lfs diff=lfs merge=lfs -text
pretrained_models/synthia_model.pt filter=lfs diff=lfs merge=lfs -text
